<!doctype html>
<html>
  <head>
    <title>Doctors List</title>
  </head>
  <body>
    <h1>Список Лікарів</h1>
    <a href="{% url 'doctor_create' %}">Додати нового лікаря</a>
    <div>
      <a href="{% url 'api_employee_list' %}">До Працівників API</a>
      <a href="{% url 'api_position_list' %}">До Посад API</a>
    </div>
    <hr />
    <ul>
      {% for doctor in doctors %}
      <li>
        <a href="{% url 'doctor_detail' doctor.id %}"> {{ doctor.name }} </a>
        ({{ doctor.speciality }})
      </li>
      {% endfor %}
    </ul>

    <hr />
  </body>
</html>
